@charset "utf-8";

/*全局设置*/
html, body, form { margin:0; padding:0;}
body { width:100%; background:#fff; font-size:12px; background-color:#333333; font-family:Tahoma, 宋体;}
img {border:0;}
ul,li {list-style:none; margin:0; padding:0; }
.clr {clear:both; padding:0; margin:0; background:none;}
a , a:visited, a:hover,a:active {color:#287755;text-decoration:none;}
a:hover {color:#00B266; text-decoration:underline;}

#header,#container,#footer,#footerborder,#adminlogin {margin:0 auto; width:980px;}

/*头部*/
#header {background:#0099CC url(../images/topYellow.jpg) repeat-y 0 0; margin-top:10px; height:80px;}
#header h1 {padding:20px 0 0 20px; color:#FFF;}

/*内容容器*/
#container {width:970px; border-right:#433A01 5px solid; border-left:#B2A109 5px solid; background-color:#fff; }

.postmsg { background-color:#fff;}
.posttip { height:30px; line-height:30px; padding-left:10px; font-size:14px; font-weight:bold; background-color:#FFECBF; color:#807355;}
.postarea { padding:5px 20px 10px 20px;}
.postarea label{ font-weight:bold;}
.postarea input{height:15px; border:#AA8839 1px solid;}
.postarea textarea {width:300px; height:100px; border:#AA8839 1px solid;}
.postarea .bt {height:25px; line-height:18px; width:80px; background-color:#fff;}

.msglist { background-color:#fff;}
.msglist .showmsg {margin:0 10px; margin-top:10px;}
.msglist .showmsg ul {border:#B1D3EC 1px solid; margin-bottom:10px;}
.msglist .showmsg li {padding:5px;}
.showmsg .msgtop {font-size:12px; background-color:#FFFAEF; color:#807355;}
.showmsg .msgtop .nickname {width:120px; float:left;}
.building {float:right;}
.showmsg .msgcont {color:#3E505D;}
.showmsg .replyaction{margin:10px 10px 0 10px; display:none;}
.showmsg .replyaction .replymsg {width:500px; height:50px;}
.showmsg .reply {margin:10px 10px 2px 10px; padding:5px; border:1px #9F9A85 solid; width:900px; white-space:normal; word-break:break-all; overflow:hidden; background:#eee; color:#ff0000;}
.showmsg .pagenav {margin:0; padding:5px; text-align:center; }

/*底部*/
#footer { width:970px; background:#ccc; text-align:center;padding:10px 0; border-right:#433A01 5px solid; border-left:#B2A109 5px solid; }
#footerborder {height:5px; background:#0099CC url(../images/topYellow.jpg) repeat-y 0 0; overflow:hidden; margin-bottom:10px;}

/* Messages --------------------------------------------------------------- */
.error, .success {
	font-family: Verdana, Tahoma;
	font-size: 12px;
	padding: 10px 20px;
	text-align: left;
}
.error {
	background: #a22;
	color: #fff;
}
.success {
	background: #cfc;
	color: #051;
}

/*管理员登陆页面*/
#adminlogin {width: 300px; background-color:#fff;}
.adminerr, .adminsuccess {font-size: 12px; padding: 0 10px; width:180px; text-align: center; height:30px;}
.adminerr {
	background: #a22;
	color: #fff;
}
.adminsuccess {
	background: #cfc;
	color: #051;
}

/*皮肤样式*/
#skin
{
    margin-top:6px;
	margin-right:5px;
	float:right;
	/* width:120px; */
	overflow:hidden;
    }
#skin li{
	float:left;
    margin-left:5px;
    width:15px;
    height:15px;
	text-indent:-999px;
	overflow:hidden;
	display:block;
	cursor:pointer;
	background-image:url(../images/theme.gif);
}
#skin_green{
	background-position:0px 0px;
}
#skin_red{
	background-position:15px 0px;
}
#skin_blue{
	background-position:35px 0px;
}
#skin_yellow{
	background-position:55px 0px;
}
#skin_green.selected{
	background-position:0px 15px !important;
}
#skin_red.selected{
	background-position:15px 15px !important;
}
#skin_blue.selected{
	background-position:35px 15px !important;
}
#skin_yellow.selected{
	background-position:55px 15px !important;
}